@import "tailwindcss";


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2'); /* Ensure correct path */
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF; 
    margin: 0;
    padding: 0;
}